<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Form</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css" />
	</head>
	<body>
		<form method="post">
			<div>
				<label for="id">Id:</label>
				<input type="text" id="id" name="id" />
			</div>
			<div>
				<label for="name">Name:</label>
				<input type="text" id="name" name="name" />
			</div>
			<div>
				<label for="description">Description:</label>
				<input type="text" id="description" name="description" />
			</div>
			<div>
				<label for="tags">Tags:</label>
				<input type="text" id="tags" name="tags" />
			</div>
			<div>
				<label for="title">Title:</label>
				<textarea id="title" name="title"></textarea>
			</div>
			<div>
				<label for="note">Note:</label>
				<textarea id="note" name="note"></textarea>
			</div>
			<div>
				<label for="transactionName">Transaction Name:</label>
				<input type="text" id="transactionName" name="transactionName" />
			</div>
			<div>
				<label for="price">Price:</label>
				<input type="text" id="price" name="price" />
			</div>
			<div>
				<label for="date">Date:</label>
				<input type="text" id="date" name="date" />
			</div>
			<div>
				<label for="currency">Currency:</label>
				<input type="text" id="currency" name="currency" />
			</div>
			<div>
				<label for="sizeName">Size Name:</label>
				<input type="text" id="sizeName" name="sizeName" />
			</div>
			<div>
				<label for="width">Width:</label>
				<input type="text" id="width" name="width" />
			</div>
			<div>
				<label for="height">Height:</label>
				<input type="text" id="height" name="height" />
			</div>
			<div>
				<label for="depth">Depth:</label>
				<input type="text" id="depth" name="depth" />
			</div>
			<div>
				<label for="unit">Unit:</label>
				<input type="text" id="unit" name="unit" />
			</div>
			<div>
				<label for="quantityname">Quantity Name:</label>
				<input type="text" id="quantityname" name="quantityname" />
			</div>
			<div>
				<label for="quantityvalue">Quantity Value:</label>
				<input type="text" id="quantityvalue" name="quantityvalue" />
			</div>
			<div>
				<label for="containerid">Container Id:</label>
				<input type="text" id="containerid" name="containerid" />
			</div>
			<div>
				<label for="subcontainer">Subcontainer:</label>
				<input type="text" id="subcontainer" name="subcontainer" />
			</div>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</body>
</html>
